<!DOCTYPE html>
<html>
    <head>
        <title>ToDo List</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="box">
            <h1>ToDo List</h1>
        </div>
        <div class="box">
            <% for(var i=0; i< dayej.length ; i++ ) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= dayej[i].name %></p>
            </div>
            <%}%>

            <form action="/" method="POST" class="item">
                <input type="text" name="ele1" placeholder="Enter the task" id="">
                <button type="submit">+</button>
            </form>
        </div>
    </body>
</html>